/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.informationVBox {
	-fx-background-color: white;
	 -fx-min-width: 600px;
    -fx-pref-width: 600px;
    -fx-max-width: 600px;
    	-fx-font-family: "Helvetica";
	    -fx-font-size: 30px;
	    -fx-font-weight: bold;
	
}
.dispense:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(
        center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.dispense{
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ff0000 0%, #ff0000 100%),
        #ff0000,
        #ff0000,
        radial-gradient(center 50% 50%, radius 100%, #ff0000, #000000);
        -fx-text-fill: white;
        -fx-padding: 70 70 70 70;
    	-fx-font-family: "Helvetica";
	    -fx-font-size: 40px;
	    -fx-font-weight: bold;
}

.backButtons{
	-fx-padding: 10 10 10 10;
	-fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.quitButton{
	-fx-background-color: red;
	-fx-padding: 10 10 10 10;
	-fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.dialog-pane {
    -fx-background-color: black;
}

.dialog-pane .label {
    -fx-text-fill: white;
    -fx-font-size: 60px;
    -fx-padding: 50;
}

.dialog-pane:header .header-panel {
    -fx-background-color: black;
}

.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 70px;
}
.dialog-pane .button{
   -fx-background-color:black;
   -fx-text-fill:white;
   -fx-wrap-text: true;
   -fx-effect: dropshadow( three-pass-box, yellow, 40.0, 0.0, 0.0, 0.0);
   -fx-cursor:hand;
   -fx-font-size:50px;
   -fx-padding: 10px;
 }
.menuPageButtons {
	
	-fx-padding: 50 50 50 50;
	-fx-font-family: "Helvetica";
    -fx-font-size: 38px;
    -fx-font-weight: bold;
}
.dispensePageMessage{
	-fx-background-color: white;
	-fx-font-family: "Helvetica";
	-fx-font-size: 70px;
	-fx-font-weight: bold;
	-fx-border-color: black;
}
.menuTopMessage{
	-fx-alignment: center ;
    -fx-padding: 0  ;
	-fx-background-color: #ffff00;
	-fx-font-family: "Helvetica";
	-fx-font-size: 35px;
	-fx-font-weight: bold;
	-fx-border-color: black;
}
.settingPageButtons{
	-fx-padding: 10 10 10 10;
	-fx-font-family: "Helvetica";
    -fx-font-size: 35px;
    -fx-font-weight: bold;
	
}

.title{
	-fx-font-family: "Helvetica";
	-fx-font-size: 70px;
	-fx-font-weight: bold;
}
.refillPageSelectButton{
	-fx-padding: 10 10 10 10;
	-fx-font-family: "Helvetica";
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.finishedButton{
	-fx-padding: 10 10 10 10;
	-fx-font-family: "Helvetica";
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}
.message{
	-fx-font-family: "Helvetica";
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}

.feedlogmessage{
	-fx-font-family: "Helvetica";
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}
.timeMessage{
	-fx-font-family: "Helvetica";
	-fx-font-size: 35px;
    -fx-font-weight: bold;
}

#selectedBoxInMenu0{
	-fx-border-color: black;
	-fx-border-width: 2;
	-fx-pref-widith: 1000;
	-fx-pref-height: 700;
	-fx-min-widith: 1200;
	-fx-max-height: 900;
	-fx-font-family: "Helvetica";
	-fx-font-size: 35px;
	-fx-font-weight: bold;
	-fx-background-color: white;
}

#selectedBoxInMenu1{
	-fx-border-color: black;
	-fx-border-width: 2;
	-fx-pref-widith: 1000;
	-fx-pref-height: 700;
	-fx-min-widith: 1200;
	-fx-max-height: 900;
	-fx-font-family: "Helvetica";
	-fx-font-size: 35px;
    -fx-font-weight: bold;
	-fx-background-color: white;
}

#selectedBoxInMenu2{
	-fx-border-color: black;
	-fx-border-width: 2;
	-fx-pref-widith: 1000;
	-fx-pref-height: 800;
	-fx-min-widith: 1200;
	-fx-max-height: 800;
	-fx-font-family: "Helvetica";
  	-fx-font-size: 35px;
    -fx-font-weight: bold;
	-fx-background-color: white;
}

#selectedBoxInDispensePage0{
	-fx-border-color: black;
	-fx-border-width: 2;
	-fx-pref-widith: 900;
	-fx-pref-height: 700;
	-fx-min-widith: 1200;
	-fx-max-height: 700;
	-fx-font-family: "Helvetica";
  	-fx-font-size: 32px;
    -fx-font-weight: bold;
	-fx-background-color: white;
}

#selectedBoxInDispensePage1{
	-fx-border-color: black;
	-fx-border-width: 2;
	-fx-pref-widith: 900;
	-fx-pref-height: 700;
	-fx-min-widith: 1200;
	-fx-max-height: 700;
	-fx-font-family: "Helvetica";
  	-fx-font-size: 32px;
    -fx-font-weight: bold;
	-fx-background-color: white;
}

#selectedBoxInDispensePage2{
	-fx-border-color: black;
	-fx-border-width: 2;
	-fx-pref-widith: 900;
	-fx-pref-height: 700;
	-fx-min-widith: 1200;
	-fx-max-height: 700;
	-fx-font-family: "Helvetica";
  	-fx-font-size: 32px;
    -fx-font-weight: bold;
	-fx-background-color: white;
}
